html, body{
    font-family: "Microsoft YaHei";
    overflow-x: hidden;
}
.bg-f7 {
    background-color: #f7f7f7;
}
.margin-20 {
    margin: 20px;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.container {
    max-width: 980px;
}
.navbar {
    position: fixed;
    width: 100%;
    padding: 5px 45px 0;
    border-radius: 0;
    z-index: 2;
    border-bottom: solid 1px rgba(200, 200, 200, 0);
}
.navbar-brand {
    padding-left: 0;
}
.navbar .menu {
    cursor: pointer;
    float: right;
    height: 38px;
    line-height: 38px;
    color: #4d4d4d;
    padding: 0 15px;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 4px;
    margin: 15px 0;
}
.navbar .menu:hover{
    background-color: #f9f9f9;
}
.navbar .menu:active{
    background-color: #eaeaea;
}
.navbar .menu span {
    vertical-align: middle;
}

header{
    background: url("../img/home/top.jpg") top center;
    background-size: cover;
}

.header-content {
    padding: 270px 0 200px;
    min-height: 100vh;
}

.header-content .slogan img{
    max-width: 80%;
}

.header-content .join-btn{
    display: inline-block;
    width: 250px;
    height: 72px;
    line-height: 72px;
    font-size: 22px;
    color: #fff;
    background-color: #ffce21;
    text-decoration: none;
    margin: 60px 0 0;
}

.header-content .join-btn:hover {
    color: #fff;
    background-color: #F8C514;
}

.header-content .join-btn:focus {
    color: #fff;
    background-color: #E7B500;
    outline: 0;
}

.points {
    padding-top: 110px;
    padding-bottom: 140px;
}

.points h2{
    color: #4d4d4d;
    font-size: 32px;
}

.points span{
    color: #999;
    font-size: 18px;
}

.points .points-list{
    margin-top: 65px;
}

.service-box:hover h3{
    color: #f5c616;
}

.service-box .icon {
    display: inline-block;
    width: 98px;
    height: 112px;
    background: url(../img/home/point.png) no-repeat;
}
.service-box:hover .icon {
    background-position-y: -112px;
}
.service-box .icon.huiyuan{
    background-position-x: -98px;
}
.service-box:hover .icon.huiyuan{
    background-position-x: -98px;
    background-position-y: -112px;
}
.service-box .icon.yingxiao{
    background-position-x: -196px;
}
.service-box:hover .icon.yingxiao{
    background-position-x: -196px;
    background-position-y: -112px;
}
.service-box .icon.jihui{
    background-position-x: -294px;
}
.service-box:hover .icon.jihui{
    background-position-x: -294px;
    background-position-y: -112px;
}
.service-box h3 {
    font-size: 18px;
    color: #4d4d4d;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.service-box .text-muted {
    font-size: 14px;
    color: #999;
}

section.feature{
    padding: 120px 0;
    position: relative;
}

section.feature img{
    max-width: 100%;
}

section .animated {
    opacity: 0;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

section .well{
    padding: 0 0 0 15px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    position: relative;
    margin-top: 125px;
}
section h2{
    font-size: 32px;
    margin-top: 6px;
    margin-bottom: 20px;
    color: #333;
}

section p{
    font-size: 18px;
    color: #999;
}

.customers {
    padding-top: 100px;
}

.customer-list {
    position: relative;
    padding: 95px 0 160px;
}

.customer-list .customer-item{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 398px;
}

.customer-list .customer-item li{
    display: inline-block;
    width: 25%;
    max-width: 288px;
    min-width: 250px;
    height: 398px;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 30px 10px rgba(0,0,0,.1);
    margin: 0 25px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    left: 33%;
    position: absolute;
    opacity: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.customer-list .customer-item li.current{
    transform: scale(1.1);
    left: 33%;
    z-index: 1;
    opacity: 1;
}
.customer-list .customer-item li.left{
    left: 3%;
    opacity: 1;
    cursor: pointer;
}
.customer-list .customer-item li.right{
    left: 63%;
    opacity: 1;
    cursor: pointer;
}
.customer-list .customer-item h4{
    font-size: 16.7px;
    color: #4d4d4d;
}
.customer-list .customer-item div.text-left{
    height: 170px;
    line-height: 22px;
    font-size: 13px;
    color: #999;
    margin: 30px 0 10px;
    border-bottom: solid 1px #e4e4e4;
}
.customer-list .customer-item img{
    width: 56px;
    height: 56px;
    border-radius: 56px;
    margin: 10px 0 15px;
}
.customer-list .customer-item .name{
    font-size: 14px;
    color: #999;
}

.join{
    padding: 70px 0 80px;
    background: url(../img/home/jieru.jpg) center no-repeat;
    background-size: cover;
}
.join h2 {
    color: #ffd748;
    font-size: 36px;
}
.join span {
    color: #fff;
    font-size: 22px;
}

.join .join-btn2 {
    display: inline-block;
    width: 206px;
    height: 62px;
    line-height: 60px;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    margin: 60px 0 0;
    border: solid 2px #fff;
}

footer{
    padding: 50px 0 90px;
}
footer p{
    font-size: 14px;
    color: #909090;
    line-height: 24px;
}

.indicator{
    list-style: none;
    text-align: center;
    position: absolute;
    bottom: 60px;
    width: 100%;
    font-size: 0;
}
.indicator li{
    display: inline-block;
    width: 11px;
    height: 8px;
    margin: 0 2px;
    background: url(../img/home/point2.png) no-repeat center;
}
.indicator li.current{
    background-image: url(../img/home/point1.png);
}

.close-btn {
    color: #4d4d4d;
    font-size:14px;
    text-decoration: none !important;
    display: inline-block;
    margin: 20px 60px;

}
.close-btn span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}
.close-btn .font-30{
    font-size: 30px;
    line-height: 35px;
}
    /*登录*/
.login, .bind, .applicant, .applicant-success {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 3;
    display: none;
}
.login .login-wrapper form {
    max-width: 450px;
    margin: 0 auto;
}
.login .login-wrapper, .bind .wrapper{
    text-align: center;
}

.login .login-wrapper .logo, .bind .wrapper .logo {
    margin: 50px 0 30px;
}
.applicant .logo {
    margin: 0 0 30px;
    text-align: center;
}
.applicant .applicant-wrapper {
    max-height: 380px;
    overflow-y: auto;
}
.login .login-wrapper .form-group, .applicant .applicant-wrapper .form-group{
    margin-bottom: 20px;
    position: relative;
}

.login .login-wrapper .form-control {
    height: 50px;
    border-radius: 0;
    box-shadow: none;
}

.applicant .applicant-wrapper .control-label {
    text-align: right;
    width: 175px;
    font-weight: normal;
    color: #787575;
}

.applicant .applicant-wrapper .col-xs-9{
    max-width: 450px;
}

.applicant .applicant-wrapper .form-control {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 0;
    box-shadow: none;
}
.applicant .applicant-wrapper label label {
    color: #f35213;
    margin-right: 5px;
}

.login .login-wrapper .form-control.has-error {
    border-color: #F86261;
}

.login .login-wrapper .form-control:focus {
    border-color: #FFCC21;
    -webkit-box-shadow:0 0 4px rgba(255,204,33, .6);
    box-shadow: 0 0 4px rgba(255,204,33, .6);
}

.login .captcha {
    top: 1px;
    right: 1px;
    width: 110px;
    height: 48px;
    position: absolute;
    border-left: solid 1px #cacaca;
}

.login .err-msg{
    display: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background-color: #F86263;
    color: #fff;
    padding-left: 10px;
    position: absolute;
    top: 0;
}

.login button {
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #FFCE21;
    border-radius: 0;
    font-size: 18px;
}

.login button:hover {
    color: #fff;
    background-color: #F8C514;
}

.login button:focus, .login button:active:focus {
    color: #fff;
    background-color: #E7B500;
    outline: 0;
}

.login .forgot-password{
    color: #999;
}

/*bind*/
.bind .steps {
    margin: 20px 0;
}

.bind .info{
    margin: 50px auto;
    width: 315px;
    padding: 30px;
    border: #ddd 1px solid;
    line-height: 24px;
    position: relative;
}

.bind .info .triangle, .bind .info .triangle span {
    display: inline-block;
    border-color: #ddd transparent;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    width: 0;
    height: 0;
    margin-left: -2px;
    top: -8px;
    margin-top: -2px;
    position: absolute;
}
.bind .info .triangle span{
    border-color: #fff transparent;
    left: -10px;
    margin: 0;
    top: 1px;
}

.bind .info .tips{
    margin: 20px 0 0;
    text-align: left;
}

.bind .info .tips p{
    margin: 0;
}

/** applicant **/
.applicant button, .applicant-success button {
    display: block;
    margin: 10px auto;
    width: 360px;
    height: 52px;
    line-height: 52px;
    color: #fff;
    background-color: #FFCE21;
    border-radius: 2px;
    border: 0;
    font-size: 18px;
}

.applicant button:hover {
    color: #fff;
    background-color: #F8C514;
}

.applicant button:focus, .login button:active:focus {
    color: #fff;
    background-color: #E7B500;
    outline: 0;
}

.applicant .form-control.n-invalid {
    border-color: #F86261;
    background: url('/assets/img/home/validator_error.png') no-repeat center right;
}

.applicant .form-control.n-invalid + span .form-control {
    border-color: #F86261;
}

.applicant .form-control:focus {
    border-color: #FFCC21;
    -webkit-box-shadow:0 0 4px rgba(255,204,33, .6);
    box-shadow: 0 0 4px rgba(255,204,33, .6);
}

.applicant-success .logo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.applicant-success .logo img{
    max-width: 100%;
}

/* select2 style reset*/
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px;
}