<div class="row reply-page">
    <style type="text/css" rel="stylesheet">
        .filter-category {
            display: inline-block;
            padding: 10px 20px;
            color: #999;
            text-decoration: none;
        }
        .nav-tabs .filter-category.current, .nav-tabs .filter-category a:hover {
            color: #333;
        }

        .nav-tabs .filter-category i {
            margin-right: 4px;
            vertical-align: sub;
        }

        .nav-tabs .filter-category.current i {
            color: #333;
        }
        .operate-box {
            border: dotted 2px #f0f0f0;
        }
        .operate-box a {
            display:block;
            padding: 70px 0;
            text-decoration: none;
            color: gray;
        }
        .operate-box:hover {
            border-color: #cecece;
        }
    </style>
    <div ui-view></div>
</div>
          