<div class="couponCreatePage">
    <div class="col-xs-12">
        <div class="col-xs-12 margin-bottom-20 bordered-bottom-1 bordered-lightgray">
            <h4 class="block no-margin-bottom" style="margin-top: -14px;">优惠券</h4>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <style type="text/css">
                    .couponCreatePage .benefits {
                        padding: 43px 12px 40px;
                    }
                    .couponCreatePage .well .header {
                        background-color: #fafafa;
                    }
                    .couponCreatePage .benefits .benefit-item {
                        width: 80%;
                        min-width: 160px;
                        float: right;
                        height: 180px;
                        padding-top: 62px;
                        position: relative;
                    }
                    .couponCreatePage .benefits .benefit-item:before {
                        content: "";
                        display: block;
                        position: absolute;
                        z-index: 0;
                        left: -22px;
                        top: 8px;
                        width: 81px;
                        height: 71px;
                    }
                    .couponCreatePage .benefits .benefit-item.no1:before {
                        background: url("/assets/img/1.png") 0 0 no-repeat;
                    }
                    .couponCreatePage .benefits .benefit-item.no2:before {
                        background: url("/assets/img/2.png") 0 0 no-repeat;
                    }
                    .couponCreatePage .benefits .benefit-item.no3:before {
                        background: url("/assets/img/3.png") 0 0 no-repeat;
                    }
                    .couponCreatePage .benefits .benefit-item.no4:before {
                        background: url("/assets/img/4.png") 0 0 no-repeat;
                    }
                    .couponCreatePage .benefits .benefit-item h4 {
                        font-size: 16px;
                        font-weight: bold !important;
                        position: relative;
                        z-index: 1;
                    }
                    .couponCreatePage .benefits .benefit-item div {
                        position: relative;
                        z-index: 1;
                        color: #9f9f9f;
                    }
                </style>
                <div class="benefits well with-header clearfix bg_white margin-bottom-10 bordered-1 bordered-lightgray no-box-shadow">
                    <div class="header">新建微信会员卡</div>
                    <div class="col-xs-12">
                        <div class="row col-xs-12 padding-top-40 padding-bottom-20">
                            <div class="col-xs-4 bordered-right-1 bordered-lightgray">
                                <div class="benefit-item no1">
                                    <h4>降低运营成本</h4>
                                    <p>无缝对接ERP，降低药店运营成本，方便财务核算。</p>
                                </div>
                            </div>
                            <div class="col-xs-4 bordered-right-1 bordered-lightgray">
                                <div class="benefit-item no2">
                                    <h4>精准触达</h4>
                                    <p>结合用户画像，精准触达用户。同时提供多种类型优惠券，满足药店的不同营销场景。</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="benefit-item no3">
                                    <h4>掌握运营效果</h4>
                                    <p>提供全面的运营数据及智能分析结果，方便药店管理者掌握营销效果。</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 margin-top-20 text-align-center">
                            <ripple class="btn btn-success btn-lg" ui-sref="app.tools.coupon.createType">+ 新建优惠券</ripple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>