<div class="createTypePage">
    <div class="col-xs-12">
        <div class="col-xs-12 margin-bottom-20 bordered-bottom-1 bordered-lightgray">
            <h4 class="block no-margin-bottom" style="margin-top: -14px;">新建优惠券</h4>
        </div>
    </div>
    <div class="col-xs-12 col-md-12">
        <div class="row">
            <div class="col-xs-12">
                <ul class="steps clearfix">
                    <li style="width: 33.33%">3.优惠券生成与发布</li>
                    <li style="width: 33.33%">2.填写优惠券内容</li>
                    <li class="current" style="width: 33.33%">1.选择优惠券类型</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-6 col-lg-4 coupon-preview-wrapper">
                <style type="text/css">
                    .coupon-preview-wrapper {
                        max-width: 372px;
                        position: absolute;
                        top: 47px;
                    }
                    .coupon_preview_area {
                        width: 340px;
                        height: 572px;
                        border-top: none;
                        position: relative;
                        background: url("/assets/img/coupon_bg.png") no-repeat 100%;
                        background-size: cover;
                    }
                    .coupon_preview_area .preview_header {
                        color: #fff;
                        background-color: #383838;
                        text-align: center;
                        height: 45px;
                        line-height: 45px;
                    }
                    .coupon_preview_area .coupon-header {
                        margin: 22px 10px;
                        height: 148px;
                        text-align: center;
                    }
                    .coupon_preview_area .coupon-header .top {
                        text-align: left;
                        padding: 6px 6px 0;
                    }
                    .coupon_preview_area .coupon-header .top .logo{
                        width: 20px;
                        height: 20px;
                        border-radius: 60px;
                        position: relative;
                    }
                    .coupon_preview_area .coupon-header .name {
                        font-size: 12px;
                        color: #999;
                    }
                    .coupon_preview_area .coupon-header .title {
                        margin-bottom: 4px;
                    }
                    .coupon_preview_area .coupon-header .detail {
                        font-size: 24px;
                        margin: 5px 0 15px;
                    }
                    .coupon_preview_area .coupon-header .condition {
                        text-align: left;
                        color: #333;
                        padding: 0 20px;
                        line-height: 15px;
                        font-size: 12px;
                        margin: 0;
                    }
                    .coupon_preview_area .coupon-header .condition label {
                        float: left;
                        font-size: 12px;
                    }
                    .coupon_preview_area .coupon-header .time {
                        text-align: left;
                        color: #333;
                        padding: 0 20px;
                        font-size: 12px;
                    }
                    .create-type-form-wrapper {
                        float: none;
                        width: auto;
                        margin-left: 386px;
                        margin-top: 47px;
                    }
                    .create-type-form {
                        position: relative;
                        min-height: 572px;
                    }
                    .create-type-form .triangle, .create-type-form .triangle:before {
                        position: absolute;
                        left: -32px;
                        top: 250px;
                        display: block;
                        border: 16px solid transparent;
                        border-right-color: lightgrey;
                    }
                    .create-type-form .triangle:before {
                        content: "";
                        position: absolute;
                        left: -15px;
                        border-right-color: #fafafa;
                        top: -16px;
                    }
                    .message-setting-item {
                        padding: 0 40px 0 15px;
                    }
                    .message-setting-item .radio-wrapper {
                        width: 43px;
                        display: inline-block;
                        text-align: center;
                    }
                    .message-setting-item .radio {
                        position: absolute;
                        top: 50px;
                        left: 38px;
                    }
                    .message-setting-item .content-wrapper {
                        width: 85%;
                        display: inline-block;
                        vertical-align: middle;
                        border: solid 1px lightgray;
                        background-color: #fff;
                        cursor: pointer;

                    }
                    .message-setting-item .content-wrapper .content {
                        padding: 30px 20px 20px 100px;
                    }
                    .message-setting-item .content-wrapper h5 {
                        font-weight: bold !important;
                    }
                    .message-setting-item.selected .content-wrapper {
                        border-color: #2372F5;
                    }
                    .message-setting-item.default .content-wrapper .content {
                        background: url("/assets/img/default_icon.png") no-repeat 30px center;
                    }
                    .message-setting-item.selected.default .content {
                        background-image: url("/assets/img/default_icon_selected.png");
                    }
                    .message-setting-item.custom .content-wrapper .content {
                        background: url("/assets/img/default_icon.png") no-repeat 30px center;
                    }
                    .message-setting-item.selected.custom .content {
                        background-image: url("/assets/img/default_icon_selected.png");
                    }
                    .message-setting-item.custom .form {
                        display: none;
                    }
                    .message-setting-item.selected.custom .form {
                        display: block;
                    }
                </style>
                <div class="coupon_preview_area">
                    <div class="preview_header">
                        优惠券
                    </div>
                    <div class="coupon-preview">
                        <div class="coupon-header">
                            <div class="top">
                                <img class="logo" ng-src="{{userData.wechatHeadPicture || 'assets/img/mp_default_logo.jpg'}}">
                                <span class="name" ng-bind="userData.wechatName"></span>
                            </div>
                            <p class="title">优惠券标题</p>
                            <p class="detail">优惠券内容</p>
                            <p class="condition">使用条件：<span class="darkgray">无限制</span></p>
                            <p class="time">有效日期：<span class="darkgray">起始时间-失效时间</span></p>
                        </div>
                        <div class="coupon-body">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6 col-lg-8 no-padding-left create-type-form-wrapper padding-bottom-50 margin-bottom-40">
                <form role="form" name="createTypeForm" class="clearfix create-type-form padding-top-40 bordered-1 bordered-lightgray" style="background-color: #fafafa;" novalidate>
                    <div class="triangle"></div>
                    <div class="form-group col-xs-12">
                        <div class="message-setting-item default" ng-class="{selected: !data.isImport}" ng-click="data.isImport = false">
                            <div class="radio-wrapper">
                                <div class="radio">
                                    <label>
                                        <input ng-model="data.isImport" ng-value="false" name="selected" type="radio" class="colored-blue">
                                        <span class="text"> </span>
                                    </label>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <h5>自动生成电子优惠券</h5>
                                    <p class="darkgray">无需经过ERP即可创建电子优惠券</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="message-setting-item custom" ng-class="{selected: data.isImport}" ng-click="data.isImport = true">
                            <div class="radio-wrapper">
                                <div class="radio">
                                    <label>
                                        <input ng-model="data.isImport" ng-value="true" name="selected" type="radio" class="colored-blue">
                                        <span class="text"> </span>
                                    </label>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <h5>导入ERP优惠券</h5>
                                    <p class="darkgray">在ERP上创建优惠券后，可直接按平台模版导进来，使用方便。</p>
                                </div>
                                <div class="form padding-left-20 padding-right-20 padding-bottom-20">
                                    <div class="form-group">
                                        <label>创建前先导入ERP优惠券</label><br>
                                        <ripple class="btn btn-default uploadBtn">导入优惠券</ripple>
                                        &emsp;<a href="http://public.cdn.sinoxk.com/cms/customer/demo/ERP优惠券导入模板.xlsx" target="_blank"><i class="fa fa-download"></i>下载优惠券模板</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="action-fixed text-align-center padding-top-20 padding-bottom-20 bordered-top-1 bordered-lightgray">
                <ripple type="submit" class="btn btn-lg btn-success" ng-disabled="data.isImport && !data.batchSequence" ng-click="nextStep()">下一步</ripple>
            </div>
        </div>
    </div>
</div>