<div class="toolDetailPage">
    <style type="text/css" rel="stylesheet">

        .toolDetailPage .header {

        }
        .toolDetailPage .header{
            padding: 15px;
        }
        .toolDetailPage .header .btn{
            position: absolute;
            right: 20px;
            top: 60px;
        }
        .toolDetailPage .header .item-icon{
            width: 100px;
            height: 100px;
            float: left;
            border-radius: 8px;
            text-align: center;
        }
        .toolDetailPage .header .item-icon i {
            font-size: 52px;
        }
        .toolDetailPage .header .item-desc{
            margin-left: 130px;
        }
        .toolDetailPage .header .item-desc h5{
            font-weight: bold;
            margin-bottom: 10px;
        }
        .toolDetailPage .header .item-desc p{
            margin-bottom: 5px;
        }
        .toolDetailPage .content {
            margin-left: -20px;
            margin-right: -20px;
            background-color: #fafafa;
        }
        .toolDetailPage .content ul.screenshots{
            list-style: none;
            margin: 0;
            padding: 0 25px;
        }
        .toolDetailPage .content ul.screenshots li{
            margin: 20px 10px;
            display: inline-block;
        }
        .toolDetailPage .content ul.screenshots img{
            width: 310px;
            height: 550px;
        }
        .toolDetailPage .footer {
            margin-top: 20px;
            padding-bottom: 100px;
        }
        .toolDetailPage .footer dt {
            font-weight: normal;
        }
        .toolDetailPage .footer dd {
            text-indent: 2rem;
        }
    </style>
    <div class="row col-xs-12">
        <h4 class="block no-margin-bottom text-align-center bordered-bottom-1 bordered-lightgray" style="margin-top: -14px;height: 56px;line-height: 36px;">
            <ripple class="btn pull-left" ui-sref="app.tools.marketingTools"><i class="fa fa-arrow-left"></i>&emsp;返回</ripple>
            优惠券
        </h4>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12 bg-white padding-top-20 padding-bottom-20 no-padding-left no-padding-right">
                <div class="header margin-bottom-20">
                    <img class="item-icon" src="/assets/img/tools/{{currentSelected.icon}}.png">
                    <div class="item-desc">
                        <h3 class="item-name margin-top-10">{{currentSelected.name}}</h3>
                        <p class="darkgray">{{currentSelected.creator}}</p>
                        <p>{{currentSelected.summary}}</p>
                    </div>
                    <ripple ng-if="currentSelected.routerName" class="btn btn-lg" ui-sref="{{currentSelected.routerName}}"><i class="fa fa-pencil"></i>&emsp;管理应用</ripple>
                    <a ng-if="currentSelected.url" class="btn btn-lg ripple" target="_blank" href="{{currentSelected.url}}">打开应用</a>
                </div>
                <div class="content bordered-top-1 bordered-bottom-1 bordered-lightgray" style="overflow-x: auto;">
                    <ul class="screenshots" ng-style="{'min-width': (currentSelected.screenshots.length * 343) + 'px'}">
                        <li ng-repeat="screenshot in currentSelected.screenshots track by $index">
                            <img ng-src="{{screenshot}}">
                        </li>
                    </ul>
                </div>
                <div class="footer">
                    <h4>应用说明</h4>
                    <dl ng-repeat="detail in currentSelected.details">
                        <dt>{{detail.title}}</dt>
                        <dd>{{detail.content}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
          