<div class="courseCreatePage">
    <div class="col-xs-12">
        <div class="col-xs-12 margin-bottom-20 bordered-bottom-1 bordered-lightgray">
            <h4 class="block no-margin-bottom" style="margin-top: -14px;">学习课程</h4>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <style type="text/css">
                    .courseCreatePage .course-create-steps {
                        padding: 43px 12px 40px;
                    }
                    .courseCreatePage .well .header {
                        background-color: #fafafa;
                    }
                    .courseCreatePage .course-create-steps .step-item {
                        width: 80%;
                        min-width: 160px;
                        float: right;
                        height: 180px;
                        padding-top: 62px;
                        position: relative;
                    }
                    .courseCreatePage .course-create-steps .step-item:before {
                        content: "";
                        display: block;
                        position: absolute;
                        z-index: 0;
                        left: -22px;
                        top: 8px;
                        width: 81px;
                        height: 71px;
                    }
                    .courseCreatePage .course-create-steps .step-item.no1:before {
                        background: url("/assets/img/1.png") 0 0 no-repeat;
                    }
                    .courseCreatePage .course-create-steps .step-item.no2:before {
                        background: url("/assets/img/2.png") 0 0 no-repeat;
                    }
                    .courseCreatePage .course-create-steps .step-item.no3:before {
                        background: url("/assets/img/3.png") 0 0 no-repeat;
                    }
                    .courseCreatePage .course-create-steps .step-item.no4:before {
                        background: url("/assets/img/4.png") 0 0 no-repeat;
                    }
                    .courseCreatePage .course-create-steps .step-item h4 {
                        font-size: 16px;
                        font-weight: bold !important;
                        position: relative;
                        z-index: 1;
                    }
                    .courseCreatePage .course-create-steps .step-item div {
                        position: relative;
                        z-index: 1;
                        color: #9f9f9f;
                    }
                </style>
                <div class="course-create-steps well with-header clearfix bg_white margin-bottom-10 bordered-1 bordered-lightgray no-box-shadow">
                    <div class="header">新建课程</div>
                    <div class="col-xs-12">
                        <div class="row col-xs-12 padding-top-40 padding-bottom-20">
                            <div class="col-xs-4 bordered-right-1 bordered-lightgray">
                                <div class="step-item no1">
                                    <h4>节约成本</h4>
                                    <p>店员用手机学习，省时省力更省钱</p>
                                </div>
                            </div>
                            <div class="col-xs-4 bordered-right-1 bordered-lightgray">
                                <div class="step-item no2">
                                    <h4>自定义课程</h4>
                                    <p>支持上传个性化课程，同时享受千套专业公开课</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="step-item no3">
                                    <h4>把控学习情况</h4>
                                    <p>下载店员学习情况，绩效考核有依据</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 margin-top-20 text-align-center">
                            <ripple class="btn btn-success btn-lg" ui-sref="app.training.course.edit">+ 新建课程 </ripple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>