<div class="courseListPage">
    <style type="text/css">
    </style>
    <div class="col-xs-12">
        <div class="col-xs-12 margin-bottom-20 bordered-bottom-1 bordered-lightgray">
            <h4 class="block no-margin-bottom" style="margin-top: -14px;">学习课程</h4>
        </div>
    </div>
    <div class="col-xs-8 margin-bottom-20">
        <form class="form-horizontal margin-bottom-20">
            <div class="input-group" style="width: 250px">
                <input class="form-control" ng-model="paginationConf.name" maxlength="20" placeholder="搜索课程" type="text">
                <span class="input-group-btn">
                    <ripple class="btn" ng-click="getCourseData()" type="submit"><i class="fa fa-search gray"></i></ripple>
                </span>
            </div>
        </form>
    </div>
    <div class="col-xs-4 margin-bottom-20">
        <a class="btn btn-lg btn-success pull-right" ui-sref="app.training.course.edit">+&nbsp;新建课程</a>
    </div>
    <div class="col-xs-12 col-md-12">
        <div class="well with-header bg_white no-padding no-margin-bottom padding-bottom-10 bordered-1 bordered-lightgray no-box-shadow clearfix">
            <table class="table">
                <thead class="bordered-bottom-1 bordered-gray bg-seashell">
                <tr style="background-color: #f8f8f8;">
                    <th width="20"></th>
                    <th style="font-weight: normal">
                        课程
                    </th>
                    <th class="text-align-center" style="font-weight: normal">
                        课后练习
                    </th>
                    <th class="text-align-center" style="font-weight: normal">
                        课后练习时长
                    </th>
                    <th class="text-align-center" style="font-weight: normal">
                        抽题数/总题数
                    </th>
                    <th class="text-align-center" style="font-weight: normal">
                        及格分
                    </th>
                    <th class="text-align-center" style="font-weight: normal">
                        任务状态
                    </th>
                    <th class="text-align-center" style="font-weight: normal">
                        完成人数
                    </th>
                    <th width="320" style="font-weight: normal">
                        操作
                    </th>
                    <th width="20"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="course in $parent.courseData.list" ng-class="{darkgray: course.status == 2}">
                    <td ng-class="{'no-border-top': $index != 0}" width="20"></td>
                    <td>
                        {{course.name}}
                    </td>
                    <td class="text-align-center">
                        <span ng-if="course.topicFlag == 0">未设置</span>
                        <span ng-if="course.topicFlag == 1">已设置</span>
                    </td>
                    <td class="text-align-center">
                        <span ng-if="course.topicFlag == 0">-</span>
                        <span ng-if="course.topicFlag == 1">{{course.duration}}分钟</span>
                    </td>
                    <td class="text-align-center">
                        <span ng-bind="course.topicFlag == 0 ? '-' : course.chooseCount+'/'+course.totalCount"></span>
                    </td>
                    <td class="text-align-center">
                        <span ng-bind="course.topicFlag == 0 ? '-' : course.passScore"></span>
                    </td>
                    <td class="text-align-center">
                        <span class="red" ng-if="course.status == 0">未开始</span>
                        <span class="green" ng-if="course.status == 1">进行中</span>
                        <span ng-if="course.status == 2">已结束</span>
                    </td>
                    <td class="text-align-center">
                        {{course.completeAmount}}
                    </td>
                    <td>
                        <ripple ng-if="course.status == 0" class="btn btn-success btn-sm" ng-click="showCourseStartModal(course.id)">立即开始</ripple>
                        <a ng-if="course.status == 0" class="btn btn-default btn-sm ripple" ui-sref="app.training.course.edit({id: course.id})">编辑课程</a>
                        <a ng-if="course.status == 0" class="btn btn-default btn-sm ripple" ui-sref="app.training.course.addQuestions({id: course.id})">编辑课后练习</a>
                        <ripple ng-if="course.status == 1 || course.status == 2" ng-disabled="course.status == 2" class="btn btn-default btn-sm" ng-click="stop(course)">结束任务</ripple>
                        <a ng-if="course.status == 1 || course.status == 2" class="btn btn-default btn-sm ripple" target="_blank" href="/cms/train/export?trainId={{course.id}}&trainType=0">下载完成情况表</a>
                    </td>
                    <td ng-class="{'no-border-top': $index != 0}" width="20"></td>
                </tr>
                </tbody>
            </table>
            <div ng-if="$parent.courseData.list.length == 0" class="no-data">没有数据</div>
        </div>
        <div class="col-xs-12">
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>
</div>