<!-- Page Container -->
<div class="page-container">
    <!-- Page Sidebar -->
    <div class="page-sidebar {{settings.fixed.sidebar ? 'sidebar-fixed' : ''}}" id="sidebar">
        <div class="sidebar-collapse">
            <a>
                <i class="collapse-icon fa fa-bars"></i>
            </a>
        </div>
        <ul class="nav sidebar-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.base.home">
                    <i class="menu-icon fa fa-pie-chart blue"></i>
                    <span class="menu-text"> 概况 </span>
                </a>
            </li>
            <li ui-sref-active="active" class="open">
                <a>
                    <i class="menu-icon fa fa-th-large green" style="font-size: 15px;"></i>
                    <span class="menu-text"> 基本功能 </span>
                </a>

                <ul class="submenu">
                    <li ui-sref-active="active">
                        <a ui-sref="app.base.message">
                            <span class="menu-text">群发消息</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.base.reply" ui-sref-opts="{reload:true}">
                            <span class="menu-text">自动回复</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.base.menu">
                            <span class="menu-text">自定义菜单</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active" class="open">
                <a>
                    <i class="menu-icon fa fa-wrench yellow"></i>
                    <span class="menu-text"> 管理中心 </span>
                </a>

                <ul class="submenu">
                    <li ui-sref-active="active">
                        <a ui-sref="app.base.material" ui-sref-opts="{reload:true}">
                            <span class="menu-text">素材管理</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.base.comment">
                            <span class="menu-text">消息管理</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.base.store">
                            <span class="menu-text">门店管理</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.base.assistant" ui-sref-opts="{reload:true}">
                            <span class="menu-text">店员管理</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active" class="open">
                <a>
                    <i class="menu-icon fa fa-user-square red"></i>
                    <span class="menu-text"> 用户中心 </span>
                </a>

                <ul class="submenu">
                    <li ui-sref-active="active">
                        <a ui-sref="app.base.memberCard" ui-sref-opts="{reload:true}">
                            <span class="menu-text">会员卡</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.base.member" ui-sref-opts="{reload:true}">
                            <span class="menu-text">会员管理</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.base.follower">
                            <span class="menu-text">粉丝管理</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li ui-sref-active="active" class="open">
                <a>
                    <i class="menu-icon fa fa-bar-chart blue"></i>
                    <span class="menu-text"> 数据中心 </span>
                </a>

                <ul class="submenu">
                    <li ui-sref-active="active">
                        <a ui-sref="app.base.memberData">
                            <span class="menu-text">会员增长</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.base.followerData">
                            <span class="menu-text">粉丝增长</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /Page Sidebar -->
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Breadcrumb -->
        <!--<div class="page-breadcrumbs page-header {{settings.fixed.breadcrumbs ? 'breadcrumbs-fixed' : ''}}" data-ng-include=" 'view?view=/common/breadcrumbs' "></div>-->
        <!-- /Page Breadcrumb -->
        <!-- Page Header -->
        <!--<div class="page-header position-relative page-header-fixed" data-ng-include=" 'view?view=/common/header' "></div>-->
        <!-- /Page Header -->
        <!-- Page Body -->
        <div class="page-body no-margin-right bg-white padding-20" ui-view>
            <!-- Your Content Goes Here -->
        </div>
        <!-- /Page Body -->
    </div>
    <!-- /Page Content -->
</div>
<!-- /Page Container -->