<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget flat">
            <div class="widget-body bg-white">
                <style type="text/css">
                    .bind-title {
                        text-align: center;
                        color: #999;
                        font-size: 24px;
                        margin: 30px 0 25px;
                    }
                    .bind-info {
                        margin: 40px auto;
                        width: 352px;
                        padding: 50px;
                        border: #ddd 1px solid;
                        text-align: left;
                        line-height: 24px;
                    }
                    .help-text {
                        margin-bottom: 20px;
                        text-align: center;
                    }
                </style>
                <div class="bind-title">立即加入心康云</div>
                <div class="bind-info">
                    <p class="help-text">点击按钮进入微信公众平台官方授权</p>
                    <!-- TODO 修改为跳转url -->
                    <p class="help-text"><a href="/cms/weixin/authorization" ng-click="show = true"><img src="/assets/img/ico_weixin_open.png"></a></p>
                    <p>授权之前，请确认</p>
                    <p>1）您有一个正常使用的微信公众号</p>
                    <p>2）已开启公众号安全助手(<a href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=setting/safe-protect-faq2_tmpl&amp;lang=zh_CN" target="_blank">如何开启？</a>)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div ng-if="show" style="position: fixed;top:0;bottom:0;left:0;right:0;background-color:rgba(0,0,0,.4);z-index: 999999999;">-->
    <!--<div style="background-color: rgba(0,0,0,.4);-->
    <!--position: absolute;-->
    <!--z-index: 1;-->
    <!--font-size: 34px;-->
    <!--color: #fff;-->
    <!--display: block;-->
    <!--width: 3rem;-->
    <!--height: 3rem;-->
    <!--line-height: 3rem;-->
    <!--text-align: center;-->
    <!--border-radius: 3rem;-->
    <!--right: 2rem;-->
    <!--top: 1rem;cursor: pointer" ng-click="$parent.show = false">×</div>-->
    <!--<iframe style="border: none;width: 100%;height:100%;background-color:#fff;" src="http://weixiao.qq.com/weixin-auth/token?redirect_uri=http%3A%2F%2Fweixiao.qq.com%2Fapply%2Fbind%2Fcomplete"></iframe>-->
<!--</div>-->